/*
 * Styling for Clever Hangman page
 *
 * @author Abby Mapes
 */

[id^="letter-"] { 
    float: left; 
}


.not-guessed { 
    display: inline-block;
    color: red; 
}

.template { 
    text-align: center; 
}

.select-options {
    text-align: center; 
}

.debug-winning {
    font: bold;
}

* {
    box-sizing: border-box;
}

.column-left {
  float: left;
  width: 50%;
  padding: 10px;
}

.column-right {
    float: right;
    width: 50%;
    padding: 10px;
  }
  
.row:after {
  content: "";
  display: table;
  clear: both;
}

#bad-input {
    color: red;
    float: left; 
}