/*
 * Styling for my Trello page
 *
 * @author Abby Mapes
 */

main {
    height: 110%;
}
body {
    height: fit-content;
}

 #app {
     text-align: center;
     color: black;
     margin: 20px 0;
     padding: 10px 0;
 }

 .no-border {
     border: none;
 }

 input {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    text-align: inherit;
    border-width: 0.5px;
    border-style: inherit;
 }

 .fit-width {
    width: 100%;
 }

 textarea {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    text-align: inherit;
    border-width: 0.5px;
    border-style: solid;
    width: 100%;
 }

 input.border {
    border-width: 0.5px;
    border-style: inherit;
 }

 .top-bar {
     float: left;
     display: block;
     text-align: left;
     width: 100%;
     margin: auto;
     background-color: white;
     padding: 10px;
     padding-bottom: 20px;
 }

 .card-columns {
    padding: 10px;
 }

 .column {
    text-align: center;
    box-sizing: border-box;
    border-radius: 16px;
    padding-bottom: 2rem;
    float: left;
    background-color: white;
    width: 350px;
}

.card-list {
    background-color: rgb(255, 255, 255);
    list-style: none;
    font-weight: normal;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 5px;
 }

 .card {
    background-color: rgb(255, 255, 255);
    list-style: none;
    font-weight: normal;
    box-sizing: border-box;
    padding-bottom: 1rem;
    border-radius: 5px;
    padding: 5px;
 }

 .task-count {
     float: right;
 }

.project-name {
     color: black;
 }

 .comment-heading {
     text-align: center;
 }

 .comment-list {
    background-color: white;
    height: fit-content;
 }

.comment-item {
    background-color: white;
    max-width: inherit;
    word-wrap: break-word;
    padding: 5px;
}

.comment-input {
    width: 95%;
    text-align: left;
}

.comment {
    font-style: italic;
}


 h2 {
     text-align: center;
     color: black;
 }

 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
 }

.date {
    text-align: right;
}

.small {
    font-size: 12pt;
}

.tag-section {
    max-width: 100%;
    text-align: center;
}

.tags {
    width: fit-content;
    padding: 5px;
    margin: 5px;
    border-radius: 25%;
    display: inline-block;
}

.overdue{
    background-color: #ff000080;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
    padding-right: 5px;
}

.dropdown {
    padding-right: 10px;
    padding-left: 10px;
}

.btn-outline-danger {
    border-style: none;
}

.btn-outline-success {
    color: black;
}

.search-button {
    background-color: rgb(0, 89, 255);
}

.tag-card {
    border: none;
}


.tag-footer {
    text-align: right;
}

.add-tag {
    text-align: right;
}

.search {
    text-align: right;
    float: right;
}

.task-color-input {
    display: inline;
    float: right;
}

.card-color-input {
    display: inline;
}

.card-color-label {
    display: inline;
}

.filter-text {
    padding-top: 10px;
}

.filter {
    border-style: solid;
    border-width: 0.5px;
    border-color: black;
    background-color:rgba(0, 0, 0, 0.25)
}